<div class="wrapper">
  <div class="header">
    <div class="toggle-menu">
      <div class="toggle-item"></div>
      <div class="toggle-item"></div>
      <div class="toggle-item"></div>
    </div>
    <div class="title-page">
      <span>Users List</span>
      <span>{{users.length}} users</span>
    </div>
    <div class="wrapper-search">
      <button></button>
      <input type="search" placeholder="Search">
    </div>
    <div class="wrapper-filter">
      <input type="button" value="Table filter">
    </div>
    <div class="wrapper-user">
      <span>Dale McCornick</span>
    </div>
  </div>
  <div class="wrapper-table">
    <mat-table [dataSource]="users">

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
        <mat-cell *matCellDef="let user" (click)="openDialog(user)"> {{user.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let user" (click)="openDialog(user)"> {{user.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
        <mat-cell *matCellDef="let user" (click)="openDialog(user)"> {{user.type}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
        <mat-cell *matCellDef="let user" (click)="openDialog(user)"> {{user.company}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
        <mat-cell *matCellDef="let user" (click)="openDialog(user)"> {{user.country}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="subscription">
        <mat-header-cell *matHeaderCellDef> Subscription </mat-header-cell>
        <mat-cell *matCellDef="let user" (click)="openDialog(user)">
          {{user.subscription.getDay()}}/
          {{user.subscription.getMonth()}}/
          {{user.subscription.getFullYear()}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  </div>
  <div class="wrapper-button">
    <input type="button" value="Show more">
  </div>
</div>
